<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyiot.gongzhonghao.mapper.WXReportMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
        id,userName,IDcardNo,phone,grainKind,weight,wxOpenid,wxName,cre_time,upd_time,stat
	</sql>

</mapper>